@use '../../../../assets/styles/styles.scss' as *;

.itemContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;  
  cursor: default;
 
  .icon {
    margin-right: 20px;
    color: $main-green;
    justify-self:  center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      color: $main-dark-blue;
      transition: all 0.2s ease-in-out;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    cursor: default; 

    .title {
      @include main-bold-text;
      text-decoration: none;
    }

    .text {
      @include main-bold-text($main-gray);
      font-weight: $fw-400;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        color: $main-green;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .item {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    word-break: break-all;

    .textContainer {
      
      .text {
        font-size: $fs-small-14;
      }
      
      .title {
        font-size: $fs-small-14;
      }
    }
  }
}