@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular.ttf') format('truetype');
  font-weight: $fw-400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-SemiBold.ttf') format('truetype');
  font-weight: $fw-600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Bold.ttf') format('truetype');
  font-weight: $fw-700;
  font-style: normal;
}