@use '../../assets/styles/styles.scss' as *;

.skillBar {
  @include secondary-text($main-white);
  height: 30px;
  background-color: $main-green;
  padding: 5px 15px;
  margin-bottom: 5px;
}

.line {
  position: relative;
}

.label {
  @include small-text;
  position: absolute;
  bottom: -20px;
  white-space: wrap;

  &:nth-child(2) {
    left: 0;
  }

  &:nth-child(3) {
    left: 17.5%; 
  }

  &:nth-child(4) {
    left: 77.9%; 
  }

  &:nth-child(5) {
    right: 0;
  }
}