.container {
  background: linear-gradient(#00061499, #00061490), 
  url('../../assets/images/bg-image.jpg') no-repeat center ;
  background-size: cover;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;


  .wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

    .button {
      width: 125px;
      height: 40px;
    }
  }
}