@use '../../assets/styles/styles.scss' as *;

.container {
  height: 100dvh;
  margin-bottom: 40px;

  .item {
    margin-bottom: 40px;
    list-style: none;
  
    .feedbackText {
      margin-bottom: 20px;
    }
    
    .reporterInfo {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 5px;
    
      .reporterImg {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }
    
      .reporterName {
        display: flex;
        @include small-text($main-dark-blue);
        word-break: break-all;
        flex-wrap: wrap;
        gap: 5px;
      }
    
      .reporterLink {
        @include small-text($main-green);
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
