
$main-dark-blue: #222935;
$main-green: #26c17e;
$main-light-gray: #eee;
$main-white: #fff;
$main-black: #000;
$main-gray: #667081;

$fw-400: 400;
$fw-600: 600;
$fw-700: 700;

$fs-xsmall-12: 12px;
$fs-small-14: 14px;
$fs-normal-16: 16px;
$fs-large-25: 25px;
$fs-xlarge-45: 45px;

$lh-120: 120%;
$lh-150: 150%;